{% extends 'base_template.html' %}
{% load staticfiles %}

{% block content %}
    <div align="center"><h1>About Me</h1></div>
    {#    {% include 'includes/hand.html' %}#}
    <div id="about_me_left" align="left">
        <p>Chuck is a junior web developer.</p>
        <p>He is currently enrolled in the boot camp from RocketU.</p>
        <p>Having both the knowledge of back-end (Python / Django) and front-end (HTML / CSS / JavaScript)</p>
        <p>and the related experience on real-world projects, is looking for a job.</p>
        <p><b>Programming has too much fun!</b></p>
    </div>


    <div id="about_me_right">
        <img id="about_me_pic" height="300px" src="{% static "img/selfie.jpg" %}"/>
    </div>
{% endblock content %}
